@font-face {
    font-family: 'ethnocentricregular';
    src: url('fonts/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('fonts/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

body > * {
    flex: 1;
}

div.sidebar {
    background-image: url("./img/city.png");
    background-size: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

div.sidebar .sidebar-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.322);
    color: #fcffe9;
    font-family: 'ethnocentricregular', sans-serif;
    font-size: larger;
}

img.icon {
    filter: invert(93%) sepia(1%) saturate(2651%) hue-rotate(43deg) brightness(108%) contrast(103%);
}

div.main {
    background-color: #f7f7f7;
    padding-top: 80px;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.main input {
    display: block;
}

div.input-container {
    display: flex;
    gap: 30px;
}

div.form-container {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
}

div.form-container,
div.main > p {
    padding-left: 50px;
}

div.main > p {
    margin-right: 150px;
    font-size: 1.2rem;
}

div.main > p::first-line {
    font-size: 1.7rem;
}

div.main div {
    margin-bottom: 12px;
}

input {
    appearance: none;
    height: 25px;
    width: 290px;
    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid #bbb;
}

input:user-invalid {
    border: 2px solid red;
    background-color: rgb(252, 181, 181);
}

input:focus {
    outline: none;
    border: 2px solid lightskyblue;
    box-shadow: 5px 5px 10px -6px black;
}

button[type="submit"] {
    appearance: none;
    border: none;
    background-color: #374464;
    padding: 10px 30px;
    color: #fff;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 16px;
    margin-top: 15px;
}

button[type="submit"]:hover {
    background-color: hsl(223, 29%, 50%);
}

.form-element {
    margin-left: 40px;
}